<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.example.myapplication"
    platformBuildVersionCode="33"
    platformBuildVersionName="13">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33" />

    <application
        android:theme="@ref/0x7f10023d"
        android:label="CUTM LMS"
        android:icon="@ref/0x7f070094"
        android:debuggable="true"
        android:testOnly="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@ref/0x7f120000"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@ref/0x7f120001">

        <activity
            android:name="com.example.myapplication.LoginActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.myapplication.SignupActivity"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.certificate"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.skill"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.domain"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.example.myapplication.androidx-startup">

            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
